@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image:url("photos/tab-back.jpg") ;
    border-image-repeat: repeat;
}
.newbody{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: bisque;
    border-radius: 20px;
    width: 95%;
    height: auto;
    opacity: 0.9;
    margin-left: 2%;
    margin-top: 5%;
    color: darkslategray;
    font-size: 40px;
    letter-spacing: 10px;
    font-family: "Arial Black";
}

@import url(https://fonts.bunny.net/css?family=amita:700);


h1 {
    color: #fefae0;
    font-family: Amita;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 10px double #bc6c25;
}

.galery {
    max-width:640px ;
    max-height: 640px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(50%);
    transition-duration: 1s;
}

.galery:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}

footer {
    background-color: #bc6c25;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100vw;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.rls{
    font-family: Calibri;
    color: #e00101;
    font-size:50px;
    letter-spacing: 10px;
}
