body{
    margin-bottom: 0;
    text-align: center;
    background-image:url("photos/tab-back.jpg");
    background-origin: border-box;
    background-size:max(99.9%);
    background-repeat:round;



}
.box{
    text-align:justify-all;;
    width:100%;
    border-radius: 20px;
    height: 130px;
    background-color: #0c0104;
    justify-content: center;
    font-family: "Arial Black";
    color: #e00101;
    letter-spacing:5px;

}
.box a{
    text-decoration: none;
    color: #e00101;
    letter-spacing: 10px;
}
.body1{
    margin-bottom: 10%;
    text-align: center;
    background-color: rgba(31, 10, 10, 0.76);
    background-origin: border-box;
    background-size:max(99.9%);
    background-repeat:no-repeat;
    -webkit-filter: blur(10%);
}
.logo{
    margin-right: 5%;
    margin-top: 10px;
    text-align: center;
    width: 28%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    background-color: #000000;

}
uu1{
    color: white;
    font-size: 0.5rem;
    letter-spacing: 5px;
}
uu{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    color: rgba(255, 0, 0, 0.97);
    font-family:"Arial Black";


}
.home{
    text-align: center;
    width: 95%;
    height: 1090px;
    border-radius: 10px;
    background-color: rgba(21, 5, 5, 0.58);
    opacity: 0.9;
    margin-left: 2%;
    margin-top: 5%;
    color: black;
}
.newbody{
    text-align: center;
    border-radius: 20px;
    background-color: #0c0904;
    opacity: 0.9;
    margin-left: 2%;
    margin-top: 5%;
    color: black;
}
.story{
    text-align: center;
    width: 60%;
    height: auto;
    border-radius: 20px;
    background-color: bisque;
    opacity: 0.9;
    margin-left: 20%;
    color: white;
    background-image: url("photos/tab-back.jpg");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: var(70);
}
.jpg{
    border-radius: 50%;
    letter-spacing: 10px;

}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
/*.numbertext {*/
/*    color: #f2f2f2;*/
/*    font-size: 12px;*/
/*    padding: 8px 12px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.tabs h1 a {
    color: bisque;
    text-decoration: none;
}
.tab-icon{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 5px;
}
.photos{
    width: 100vw;
    height: 100vh;
    grid-template-rows: 5fr 1fr;


}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

.tab {
    width: calc(10vh + 8px);
    height: calc(10vh + 8px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    z-index: 0;
    transition: width 0.5s;
}

.tab img {
    width: 10vh;
    height: 10vh;
    z-index: 10;
    cursor: pointer;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    transition: width 0.5s;
}

[type=radio] {
    display: none;
}

.preview-list {
    background: linear-gradient(
            #021919,
            #021919 var(--line-offset),
            #efefef var(--line-offset)
    );
}

.tab {
    background: linear-gradient(
            #efefef,
            #efefef var(--line-offset),
            #021919 var(--line-offset));

}

[type=radio]:checked ~ label ~ .content{
    text-align: center;
    z-index: 8;
}


[type=radio]:checked ~ label .tab{
    width: 0;
}

.content {
    position: absolute;
    background: #021919;
    left: 0;
    width: 100vw;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content img {
    margin:35% ;
    text-align: center;
    height:100vh;
    width: auto;
}
